<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.spring.boot.example.security.mapper.PermissionMapper">
	<!--开启二级缓存-->
	<cache type="org.mybatis.caches.ehcache.LoggingEhcache"/>

	<resultMap id="BaseResultMap" type="com.spring.boot.example.security.entity.Permission">
		<id column="id" property="id" />
		<result column="permission_name" property="permissionName" />
		<result column="permission_method" property="permissionMethod" />
		<result column="permission_url" property="permissionUrl" />
		<result column="server_prefix" property="serverPrefix" />
		<result column="gateway_prefix" property="gatewayPrefix" />
		<result column="creater" property="creater" />
		<result column="created" property="created" />
		<result column="updater" property="updater" />
		<result column="updated" property="updated" />
		<result column="enabled" property="enabled" />
	</resultMap>

    <!-- 通用查询结果列-->
    <sql id="Base_Column_List">
        id, permission_name AS permissionName, permission_method AS permissionMethod, permission_url AS permissionUrl, server_prefix AS serverPrefix, gateway_prefix AS gatewayPrefix, creater, created, updater, updated, enabled
    </sql>
</mapper>
